/PruebasJuegoPA/build/
PruebasJuegoPA/nbproject/private/private.xml
PruebasJuegoPA/nbproject/private/private.properties
/PruebasJuegoPA - copia/build/
/PruebasJuegoPA - copia/nbproject/private/
/ServidorJuegoPA/build/
/ServidorJuegoPA/nbproject/private/
/ServidorJuegoPA - copia/build/
/ServidorJuegoPA - copia/nbproject/private/
/ClienteJuegoPA/build/
/ClienteJuegoPA/nbproject/private/
/ServidorJuegoPA/dist/
